<!DOCTYPE html>
<html>
<% include ../partials/header %>
    <style type="text/css">
        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button+h3,
        .ui.vertical.stripe p+h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        .banner-e-health::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
        }

        .text-area {
            position: relative;
        }

        .banner-border {
            border: none !important;
        }

        .main-content {
            display: flex !important;
            align-items: center !important;
            justify-content: space-evenly !important;
        }

        .main-card {
            margin: 0 !important;
        }

        .image-content {
            text-align: center;
        }
        
        .error-text {
            font-size: 12px;
            color: red;
            text-transform: uppercase;
            bottom: 0;
            display: block;
            visibility: hidden;
        }

        .feild.error .error-text {
            visibility: visible;
        }

        .ui.form {
            width: 40%;
        }
        
        .user-profile-container {
            text-align: left;
        }

        .user-profile-details {
            display: flex !important;
            flex-direction: column;
            justify-content: flex-end;
        }

        .profile-wrapper {
            margin-top: 20px;
        }

        .profile-info {
            text-align: left
        }
        p.profile-label {
            margin-bottom: 5px;
            font-size: 12px;
        }

        .profile-value {
            font-size: 16px;
            font-weight: 700;
        }

        .edit-profile-container {
            text-align: left;
            display: flex !important;
            align-items: flex-end;
        }

        .profile-wrapper .input.profile-input-feild{
            display: none;
        }

        .profile-wrapper.active .input.profile-input-feild{
            display: block;
        }

        .profile-wrapper.active .profile-value {
            display: none;
        }

        .profile-wrapper .ui.fluid.input>input {
            width: 100% !important;
        }

        .profile-action-btns {
            text-align: left;
            display: none;
        }

        .profile-wrapper.active .profile-action-btns {
            display: block;
        }

        .summary-card {
            width: 1190px !important;
            text-align: left !important;
            margin-top: 30px !important;
        }


        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
            }
            .masthead.segment {
                min-height: 350px;
            }
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }

        .cert {
            height: 96px;
            width: 124px;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
        }

        .cert >img {
            height: auto;
            max-width: 100%;
        }

        .answer-question__textarea {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 4px;
            padding:10px; 
        }

        .answer-question__container.error .answer-question__textarea {
            border: 1px solid tomato;
        }
    </style>

    <body>

        <% include ../partials/navbar %>

        <!-- Page Contents -->
        <div class="pusher">
            <div class="ui inverted vertical  masthead center aligned segment banner-e-health">
                <div class="ui large secondary container inverted pointing menu banner-border">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a href="/home" class="item">Home</a>
                    <% if(isLoggedIn) { %>
                        <a href="/profile" class="active item">Profile</a>
                    <% } %>
                    <a href="/feedback" class="item">Feedback</a>
                    <a class="item" href="/aboutus">About us</a>
                    <% if(isLoggedIn) { %>
                        <a class=" item" href="/premium">Go Premium</a>
                    <% } %>
                    <div class="right item">
                        <% if(!isLoggedIn) { %>
                            <a class="ui inverted button loginBtn">Log in</a>
                            <a class="ui inverted button signUpBtn">Sign Up</a>
                        <% } else { %>
                            <a href="/logout" class="ui inverted button logoutBtn">Logout</a>
                        <% } %>            
                    </div>  
                </div>
                <!-- header ends here -->
                <div class="ui segment">
                    <div class="ui container">
                        <div class="grid ui column">
                            <div class="two column row">
                                <div class="column user-profile-container">
                                    <h3>User Details</h3>
                                    <div class="ui items">
                                        <div class="item">
                                            <div class="image">
                                                <img src="/assets/uploads/<%= data[0].imgurl %>">
                                            </div>
                                            <div class="content user-profile-details">
                                                <p>Welcome</p>
                                                <p class="header"><%= data[0].username %></p>    
                                                <div class="description">
                                                    <p></p>
                                                </div>
                                                <div class="extra">
                                                    We are happy to have You !!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column edit-profile-container">
                                    <div>
                                        <button class="ui primary button" id="editBtn">Edit Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui container profile-wrapper">
                        <div class="grid column ui stackable">
                            <div class="three column row">
                                <div class="column">
                                    <div class="profile-info ">
                                        <form class="profile-input-feild input" id="frmUploader" enctype="multipart/form-data" action="api/profileUpload/" method="post">
                                            <label for="imgUploader">Update your profile picture</label>
                                            <input type="file" name="imgUploader" multiple />
                                            <input type="submit" name="submit" id="btnProfileSubmit" value="Upload" />
                                        </form>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Name</p>
                                        <p class="profile-value"><%= data[0].username %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Username" id="docName" value="<%= data[0].username %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Email</p>
                                        <p class="profile-value"><%= data[0].email %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Email" id="docEmail" value="<%= data[0].email %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                </div>
                            </div>
                            <div class="three column row">
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Contact</p>
                                        <p class="profile-value"><%= data[0].contact %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Contact" id="docContact" value="<%= data[0].contact %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Education</p>
                                        <p class="profile-value"><%= data[0].education %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Education" id="docEdu" value="<%= data[0].education %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Experience</p>
                                        <p class="profile-value"><%= data[0].experience %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Experience" id="docExperience" value="<%= data[0].experience %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="three column row">
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Treatments</p>
                                        <p class="profile-value"><%= data[0].treatments %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Treatments" id="docTreatments" value="<%= data[0].treatments %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Current Working</p>
                                        <p class="profile-value"><%= data[0].currentwork %></p>
                                        <div class="ui fluid icon input profile-input-feild">
                                            <input type="text" placeholder="Current Working" id="docCurrent" value="<%= data[0].currentwork %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Queries Answered</p>
                                        <p class="profile-value"><%= data[0].queriesanswered %></p>
                                        <div class="ui fluid icon input profile-input-feild disabled">
                                            <input type="text" placeholder="Queries Answered" value="<%= data[0].queriesanswered %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                    <div class="profile-info">
                                        <p class="profile-label">Certificates</p>
                                        <p class="profile-value">
                                                <% if(data[0].certificates) {%>
                                                <% var certs = data[0].certificates.split(',') %>
                                                <% certs.map(item => { %>
                                                    <div class="cert">
                                                        <img src= "/assets/uploads/<%= item %>" />
                                                    </div>
                                                <% }) %>
                                                <% } %>
                                        </p>
                                        <form class="profile-input-feild input" id="frmProfileUploader" enctype="multipart/form-data" action="api/certUpload/" method="post">
                                            <label for="imgUploader">Add your certificates</label>
                                            <input type="file" name="imgUploader" multiple />
                                            <input type="submit" name="submit" id="btnSubmit" value="Upload" />
                                        </form>
                                    </div>
                                </div> 
                            <div class="three column row">
                                <div class="column">
                                    <div class="profile-action-btns">
                                        <button class="ui primary button" id="submitBtn">Submit</button>
                                        <button class="ui red button" id="cancelBtn">Cancel</button>
                                    </div>
                                </div>
                                <div class="column">
                                </div>
                                <div class="column">
                                </div>
                            </div>
                        </div>
                        <div class="ui container">
                            <hr>
                                <h2>Asked Questions</h2>
                                <% list.map((item) => {  %>
                                    <div class="ui card summary-card">
                                            <div class="content">
                                                <div class="header"> <%= item.question %> </div>
                                                <div class="meta">
                                                    <span><%= item.time %></span>
                                                </div>
                                                <p><%= item.doctorname %></p>
                                                <div class="answer-question__container">
                                                    <textarea row="4" class="answer-question__textarea" placeholder="Please answer the question"></textarea>
                                                    <button class="ui primary button ansQuestion"  data-id= "<%= item.qid %>">Answer</button>
                                                </div>
                                            </div>
                                        </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
                

                <!-- footer starts here -->
                <% include ../partials/footer %>
            </div>
        </div>

        <script>
            $(document).ready(function () {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    })
                    ;

                // create sidebar and attach to menu open
                $('.ui.sidebar').sidebar('attach events', '.toc.item');

                // Login button popup
                $(".loginBtn").click(function () {
                    $("#selectProfile").modal('show');
                });

                $('#learnerCard').click(function () {
                    $("#selectProfile").modal('hide');
                    $('.login-learner').modal('show');
                });

                $('#doctorCard').click(function () {
                    $("#selectProfile").modal('hide');
                    $('.login-doctor').modal('show');
                })

                // Signup button popup
                $(".signUpBtn").click(function () {
                    $("#signup").modal('show');
                });

                $('#learnerSignup').click(function () {
                    $("#signup").modal('hide');
                    $('.signup-learner').modal('show');
                });

                $('#doctorSignup').click(function () {
                    $("#signup").modal('hide');
                    $('.signup-doctor').modal('show');
                })

                $('#editBtn').click(function() {
                    $('.profile-wrapper').addClass('active');
                });

                $('#cancelBtn').click(function() {
                    $('.profile-wrapper').removeClass('active');
                });

                $('#submitBtn').click(function() {
                    var name= $('#docName').val();
                    var email= $('#docEmail').val();
                    var education= $('#docEdu').val();
                    var experience= $('#docExperience').val();
                    var treatments= $('#docTreatments').val();
                    var contact= $('#docContact').val();
                    var current= $('#docCurrent').val();
                    var emailReg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    var isValid;
                
                    var isNameValid = name.length > 5 ? true : false;
                    var isEmialValid = emailReg.test(email);
                    var isEducationValid = (education.length> 0) ? true : false;
                    var isExperienceValid = (experience > 0) ? true : false;
                    var isTreatmentsValid = treatments.length > 0 ? true : false;
                    var isContactValid = contact.length == 10 ? true : false;
                    var isCurrentValid = current.length > 0 ? true : false;   

                    if(isEducationValid && isNameValid && isEmialValid && isExperienceValid && isTreatmentsValid && isContactValid && isCurrentValid) {
                        isValid= true;
                    }
                    else {
                        isValid= false;
                    }

                    var info = {
                        name: name,
                        email: email,
                        education: education,
                        experience: experience,
                        treatments: treatments,
                        contact: contact,
                        current: current,
                        isValid: isValid
                    }

                    if(isValid) {
                        $.post("http://localhost:9003/updatedoctor", {...info}, function(data) {        
                            if(data==='done')           
                            {
                                window.location.href="/profile";
                            }
                            else {
                                window.location.href="/profile";
                                alert('unable to update data');
                            }
                        });
                    }
                });

                $('.ansQuestion').click(function(){
                    const parentElement = $(this).closest('.answer-question__container');
                    const inputText = parentElement.find('.answer-question__textarea');
                    if(!inputText.val()) {
                        parentElement.addClass('error')
                    }
                    else {
                        parentElement.removeClass('error');
                        const id = $(this).attr('data-id');
                        const info = {
                            id: id,
                            answer: inputText.val()
                        }
                        $.post("http://localhost:9003/answerQuery", {...info}, function(data) {        
                            if(data==='done')           
                            {
                                window.location.href="/profile";
                            }
                            else {
                                window.location.href="/profile";
                                alert('unable to update data');
                            }
                        });
                    }
                })
            });
        </script>
    </body>
    </body>

</html>